@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --main-bg-color: #092120;
  --theme-color: #8dfdba;
  --theme-color-2: #d8ff86;
  --theme-color-3: #eef3e3;
  --black: #000000;
  --white: #fff;
  --grey: #f5f5f5;
  --main-font: "Instrument Serif", -apple-system, "Times neue Romans",
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", serif;
  --sec-font: "Inter", sans-serif;
  --font-size: 1.2rem;
  --height: 500px;
  --ter-font: "Google Sans Code";
}
