body {
  margin: 0px;
  font-family: var(--main-font);
  box-sizing: border-box;
  font-weight: 200;
  font-size: clamp(1rem, var(--font-size));
  min-height: 100%;
  position: relative;
}
a {
  color: var(--white);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
section,
button {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}
.header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
  width: 98vw;
  margin: 0 auto;
}
.logo__href {
  color: var(--black);
}
.menu__wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 50cqh;
  cursor: pointer;
  border: none;
  font-family: var(--sec-font);
}
.btn {
  background-color: var(--main-bg-color);
  color: var(--white);
}
.main__container {
  margin: 0 auto;
  width: 90vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.heading__wrapper {
  padding: 10rem 0;
  width: 50%;
}
.title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.heading-desc {
  font-size: 2rem;
}
#tags {
  display: flex;
  gap: 0.5rem;
}
.tag {
  padding: 0.1rem 0.4rem;
  border: 1px solid var(--main-bg-color);
  border-radius: 50cqb;
  font-weight: 500;
  font-size: 0.7rem;
  font-family: var(--sec-font);
}
.tag-inverse {
  border-color: var(--theme-color-3);
}
.carousel__wrapper {
  cursor: grab;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel__wrapper.dragging,
#multiCarousel.dragging {
  cursor: grabbing;
}
#multiCarousel {
  cursor: grab;
  touch-action: pan-y;
}
#multiCarousel.dragging {
  user-select: none;
  -webkit-user-select: none;
}
.carousel__slides {
  display: flex;
  gap: 10px;
  will-change: transform;
  /* transition: transform 2s cubic-bezier(0.25, 0.46, 0.45, 0.94); */
  /* transform: translate(-100%); */
}

.carousel__slide,
.clone {
  box-sizing: border-box;
  flex: 0 0 25%;
  position: relative;
  background: var(--grey);
  border-radius: 20px;
}
.carousel_slides::-webkit-scrollbar {
  display: none; /* for Safari and legacy Chromium */
}
.carousel__slides.smooth-scroll {
  scroll-behavior: smooth;
}
.solution__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.solution__box {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.solution__container h3 {
  font-weight: 300;
  font-size: 1.3rem;
}
.height-50 {
  height: calc(var(--height) * 0.5);
}
.height-75 {
  height: calc(var(--height) * 0.75);
}
.height-25 {
  height: calc(var(--height) * 0.25);
}
.color-pri {
  background: var(--main-bg-color);
  color: var(--white);
}
.color-sec {
  background: var(--theme-color);
}
.color-ter {
  background: var(--black);
  color: var(--white);
}
.full__article {
  color: inherit;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  transform: translateX(0rem) translateZ(0);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
}
.full__article:hover {
  transform: translateX(2rem);
  transition: all 0.3s ease-in-out;
}
.full__article__container {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
}
.full__article__wrapper {
  overflow: hidden;
  display: inline-flex;
}

.arrow-rs {
  margin-left: 2.25rem;
}

/* Mobile and below */

/* Tablet and below */
@media (width <= 768px) {
  .main-container {
    width: 99vw;
    margin: 0 auto;
  }
  .carousel-box {
    display: block;
  }
}

/* Monitor and above */
@media (width >= 1920px) {
  .main-container {
    width: 60%;
    margin: 0 auto;
  }
  .work-xp-section {
    width: 50vw;
  }
}

@media (width < 720px) {
  .carousel__slide,
  .clone {
    flex: 0 0 100%;
  }
}

@media (720px <= width <= 1100px) {
  .carousel__slide,
  .clone {
    flex: 0 0 33.333333%;
  }
}

.full__article::before {
  content: "";
  background-image: url("/public/arrow-right-dark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0;
  transform: translateX(-2rem) translateZ(0);
}
.full__article::after {
  content: "";
  background-image: url("/public/arrow-right-dark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 2.25rem;
  display: inline-block;
  width: 24px;
  height: 24px;
}
.full__article_light::before {
  background-image: url("/public/arrow-right-light.svg") !important;
}
.full__article_light::after {
  background-image: url("/public/arrow-right-light.svg") !important;
}
