.code__block_wrapper {
  padding: 2rem 0;
  position: relative;
}
.code__frame {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 40px;
  background-color: #011627;
  position: relative;
  overflow: hidden;
}
.inner__frame {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0 0 2rem;
}
.window__btns {
  position: absolute;
  display: flex;
  gap: 5px;
  align-items: center;
}
.window__btn {
  width: 12px;
  height: 12px;
  border-radius: 50cqh;
}
.close__btn {
  background: red;
}
.min__btn {
  background: orange;
}
.max__btn {
  background: green;
}
.unique__tabs {
  font-family: var(--sec-font);
  margin: 0 0 1.5rem;
}
.swiper__wrapper {
  position: relative;
}
.slide__swiper {
  width: auto;
  color: var(--white);
  cursor: default;
  padding: 1px 15px;
  border: 1px solid;
  border-color: transparent;
  transition: background-color 0.3s, border-color 0.3s, ease-in-out;
  border-radius: 9999px;
}
.slide__swiper:hover {
  background: rgba(var(--theme-color-5-rgb), 0.1);
}
.slide__swiper span {
  font-weight: 500;
  font-family: var(--sec-font);
  font-size: 0.85rem;
}
.label__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}
.indicator__ {
  border: 1px solid;
  border-radius: 9999px;
  color: var(--theme-color-5);
  background-color: rgba(var(--theme-color-5-rgb), 0.1);
  position: absolute;
  transition: transform 0.25s ease-in-out;
  inset: 0;
  top: 0;
  left: 0;
}
.tab__item[aria-selected="true"] {
  color: var(--theme-color-5);
  /* background-color: rgba(var(--theme-color-5-rgb), 0.1); */
}
.img__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.img__wrapper img {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(2%);
  transition: opacity 1s, transform 1s;
  transition-timing-function: ease-in-out;
}
@media (width <= 768px) {
  .code__frame {
    padding: 40px 0 0;
  }
}
