.full__article {
  color: inherit;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  transform: translateX(0rem) translateZ(0);
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
}
.full__article:hover {
  transform: translateX(2rem);
}
.full__article__container {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  padding: 8px 0;
}
.full__article__wrapper {
  overflow: hidden;
  display: inline-flex;
}
.arrow__rs {
  margin-left: 2.25rem;
}
.underline__link {
  width: 100%;
  height: 1px;
  background-color: var(--black);
  position: absolute;
  left: 0;
  bottom: 0;
}
.underline__link_light {
  background-color: var(--white);
}
.underline__link__first {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.full__article:hover ~ .underline__link__first {
  transform: translateX(100%);
}
.underline__link__second {
  width: 90%;
  transform: translateX(-210%);
  transition: transform 0.7s ease-in-out;
}
.full__article:hover ~ .underline__link__second {
  transform: translateX(0);
}
.full__article::before {
  content: "";
  background-image: url("../../../static/img/arrow-right-dark.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0;
  transform: translateX(-2rem) translateZ(0);
}
.full__article::after {
  content: "";
  background-image: url("../../../static/img/arrow-right-dark.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 2.25rem;
  display: inline-block;
  width: 24px;
  height: 24px;
}
.full__article_light::before {
  background-image: url("../../../static/img/arrow-right-light.png");
}
.full__article_light::after {
  background-image: url("../../../static/img/arrow-right-light.png");
}
.isExternalLink__::before {
  background-image: url("../../../static/img/up-right-arrow-black.png") !important;
}
.isExternalLink__::after {
  background-image: url("../../../static/img/up-right-arrow-black.png") !important;
}
