.footer__inner {
  width: 65vw;
  margin: 0 auto;
  padding: 140px 0 40px;
}
.reveal__outer {
  border-radius: 50cqh;
  background-color: var(--grey-2);
  height: clamp(60px, 15vw, 20rem);
  width: 100%;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.reveal__inner {
  height: 100%;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 50cqh;
  position: relative;
  background-color: var(--grey-3);
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4px;
}
.reveal__inner__isopen {
  background-color: var(--theme-color-4);
  border-color: var(--theme-color-4);
}
.button__container {
  height: 100%;
  position: relative;
}
.reveal__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transform-origin: 50% 50% 0px;
  transform: translateX(0);
  transition: left 0.5s var(--transition-style),
    transform 0.5s var(--transition-style);
  white-space: nowrap;
  aspect-ratio: 1;
}
.reveal__wrapper__isopen {
  left: 100%;
  transform: translateX(-100%);
}
.reveal__btn__container {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  min-height: 100% !important;
  min-width: 100% !important;
  transition: transform 0.25s ease-in-out;
}
.reveal__btn__container:hover {
  transform: translateX(7px);
}
.reveal__btn__container__isright:hover {
  transform: translateX(-7px);
}
.reveal__btn {
  position: relative;
  border: 1px solid var(--border-color);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: var(--grey-2);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}
.reveal__btn:hover {
  background-color: var(--white);
}
.contact__email {
  position: absolute;
  left: 1rem;
  font-size: 3.6vw;
  color: var(--white);
  opacity: 0;
  font-family: var(--sec-font);
  font-weight: 300;
  transform: translateX(0rem);
  transition: opacity 0.5s ease-in-out, transform 0.75s ease-in-out,
    left 0.5s ease-in-out, text-decoration 0.5s ease-in-out;
  cursor: pointer;
  z-index: -1;
}
.contact__email__isopen {
  opacity: 100%;
  transform: translateX(3rem);
  z-index: 1;
}
.contact__email:hover {
  text-decoration: underline;
}
.email__address {
  opacity: 0.3;
  transition: opacity 5s ease-in-out;
  font-family: var(--sec-font);
}
.email__address__isopen {
  display: none;
  opacity: 0;
}
.about__me__wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 0 0 3rem;
}
.about__me {
  width: 60%;
  font-size: 13px;
  line-height: 1.4;
}
.about__ {
  height: 100%;
  font-weight: 700;
}
.reveal__btn::before {
  content: "";
  background-image: url("../../../static/img/arrow-right-dark.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 30%;
  height: 30%;
  aspect-ratio: 1;
  transform: scaleX(1);
  transition: transform 0.2s ease-in-out;
}
.reveal__btn__isopen::before {
  transform: scaleX(-1);
}
@media (width <= 1100px) {
  .footer__inner {
    width: 98vw;
    margin: 0 auto;
  }
  .reveal__outer {
    padding: 0;
  }
  .reveal__inner {
    padding: 3px;
  }
  .contact__email__isopen {
    opacity: 100%;
    left: 2rem;
    transform: translateX(0);
  }
}
@media (width <= 720px) {
  .reveal__inner {
    padding: 1px;
  }
  .about__me {
    width: 100%;
  }
}
