@import "../../css/custom.css";

.main__wrapper {
  width: 50vw;
  margin: 0 auto;
}
.article__title {
  font-size: 2rem;
  font-family: var(--sec-font);
  padding: 75px 0 30px;
  font-weight: 800;
}
.section__body,
.list__wrapper {
  font-family: var(--sec-font);
}
.sub__title {
  font-family: var(--sec-font);
  font-weight: 700;
  font-size: 1.2rem;
}
.article__body {
  font-family: var(--main-font);
  line-height: 1.7rem;
  margin: 0 0 2rem;
}
.pre__wrapper {
  height: fit-content;
  background: var(--black) !important;
}
.language-javascript {
  text-shadow: none !important;
}

/* Tablet and below */
@media (width <= 768px) {
  .main__wrapper {
    width: 90vw;
  }
}

/* Monitor and above */
@media (width >= 1920px) {
  .main__wrapper {
    width: 35vw;
  }
}
