.carousel__slide {
  box-sizing: border-box;
  padding: 0 5px;
  position: relative;
  height: calc(var(--height) * 0.85);
}
.carousel_slides::-webkit-scrollbar {
  display: none; /* for Safari and legacy Chromium */
}
.carousel__slides.smooth-scroll {
  scroll-behavior: smooth;
}
.solution__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: var(--grey);
  border-radius: 20px;
}
.solution__box {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__title {
  font-size: 1.1rem;
}
#tags {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0 0;
}
.tag {
  padding: 0.1rem 0.4rem;
  border: 1px solid var(--main-bg-color);
  border-radius: 50cqb;
  font-weight: 500;
  font-size: 0.7rem;
  font-family: var(--sec-font);
}
.tag__inverse {
  border-color: var(--theme-color-3);
}
.height__50 {
  height: calc(var(--height) * 0.5);
}
.height__75 {
  height: calc(var(--height) * 0.75);
}
.height__25 {
  height: calc(var(--height) * 0.25);
}
.color__pri {
  background: var(--main-bg-color);
  color: var(--white);
}
.color__sec {
  background: var(--theme-color);
}
.color__ter {
  background: var(--black);
  color: var(--white);
}
.full__article {
  color: inherit;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  transform: translateX(0rem) translateZ(0);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
}
.full__article:hover {
  transform: translateX(2rem);
  transition: all 0.3s ease-in-out;
}
.full__article__container {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
}
.full__article__wrapper {
  overflow: hidden;
  display: inline-flex;
}
.arrow__rs {
  margin-left: 2.25rem;
}
.full__article::before {
  content: "";
  background-image: url("../../../static/img/arrow-right-dark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0;
  transform: translateX(-2rem) translateZ(0);
}
.full__article::after {
  content: "";
  background-image: url("../../../static/img/arrow-right-dark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 2.25rem;
  display: inline-block;
  width: 24px;
  height: 24px;
}
.full__article_light::before {
  background-image: url("../../../static/img/arrow-right-light.svg") !important;
}
.full__article_light::after {
  background-image: url("../../../static/img/arrow-right-light.svg") !important;
}
