.carousel__slide {
  box-sizing: border-box;
  padding: 0 5px;
  position: relative;
  /* height: calc(var(--height) * 0.85); */
}
.carousel_slides::-webkit-scrollbar {
  display: none; /* for Safari and legacy Chromium */
}
.carousel__slides.smooth-scroll {
  scroll-behavior: smooth;
}
.solution__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--grey);
  border-radius: 10px;
  height: var(--height);
}
.solution__box {
  padding: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#tags {
  display: flex;
  gap: 8px;
  margin: 0.5rem 0 0;
}
.height__50 {
  height: calc(var(--height) * 0.5) !important;
}
.height__75 {
  height: calc(var(--height) * 0.75) !important;
}
.height__25 {
  height: calc(var(--height) * 0.25) !important;
}
.color__pri {
  background: var(--main-bg-color);
  color: var(--white);
}
.color__sec {
  background: var(--theme-color-5);
}
.color__ter {
  background: var(--black);
  color: var(--white);
}

.icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
