/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.main__container {
  margin: 0 auto 6vh;
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.heading__wrapper {
  padding: 140px 0;
  width: 50%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.heading__desc {
  /* font-size: 2rem; */
  position: relative;
  /* height: 80px; */
}
.blurb__space {
  position: relative;
}
.blurb__hide {
  visibility: hidden;
}
.cubespinner {
  position: absolute;
  left: 50%;
  top: 0;
  transform-style: preserve-3d;
  transform-origin: 20px 20px 0;
  animation: spincube 16s infinite ease-in-out;
}
.cubespinner em {
  position: absolute;
  width: max-content;
  height: 40px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.cubespinner em:nth-child(1) {
  transform: translateX(-50%) translateZ(20px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.cubespinner em:nth-child(2) {
  transform: rotateX(90deg) translateX(-50%) translateZ(20px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.cubespinner em:nth-child(3) {
  transform: rotateX(180deg) translateX(-50%) translateZ(20px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.cubespinner em:nth-child(4) {
  transform: rotateX(270deg) translateX(-50%) translateZ(20px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
@keyframes spincube {
  /* Step 1 */
  0% {
    transform: rotateX(0deg);
  }
  3.571% {
    transform: rotateX(90deg);
  }
  25% {
    transform: rotateX(90deg);
  }

  /* Step 2 */
  28.571% {
    transform: rotateX(180deg);
  }
  50% {
    transform: rotateX(180deg);
  }

  /* Step 3 */
  53.571% {
    transform: rotateX(270deg);
  }
  75% {
    transform: rotateX(270deg);
  }

  /* Step 4 */
  78.571% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
.completed__features__section,
.partners__workxp {
  padding: 0 0 40px;
}
.non__hero__section {
  z-index: 1;
  background-color: var(--theme-grey-1);
  padding: 30px 0;
}
.features__section {
  width: 95%;
  margin: 0 auto;
}
.project__exec {
  width: 55%;
  margin: 0 0 40px;
}
.h3__heading {
  font-weight: 800;
  font-size: 3rem;
  line-height: 3rem;
}
.project__exec p {
  font-family: var(--sec-font);
  font-weight: 600;
}
.solution__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: var(--grey);
  border-radius: 20px;
}
.solution__box {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.solution__container h3 {
  font-weight: 300;
  font-size: 1.3rem;
}
.height-50 {
  height: calc(var(--height) * 0.5);
}
.arrow-rs {
  margin-left: 2.25rem;
}
.partners__workxp {
  transition: all 0.2s ease-in-out;
  color: var(--white);
  position: relative;
}
.partner__info__wrapper {
  width: 96vw;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}
.partners__xp_info {
  position: absolute;
  bottom: 10px;
  left: 50px;
  width: 25%;
  font-family: var(--sec-font);
  font-weight: 700;
  line-height: 1.2;
}
.social__wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  bottom: 0;
  left: 0;
}
.base__line {
  height: 100px;
  width: 1px;
  background-color: var(--white);
}
.slides__wrapper {
  position: absolute;
  width: 55%;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  padding: 15px 30px;
  display: flex;
  gap: 2rem;
}
.work__tech__title {
  position: absolute;
  top: 0;
  left: -70%;
  font-size: 12rem;
  line-height: 7rem;
  opacity: 0.02;
  cursor: default;
  z-index: -1;
}

.timeline__wrapper {
  width: 1px;
  height: 175px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}
.hover__blur {
  position: absolute;
  height: 75px;
  width: 75px;
  border-radius: 50cqi;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  visibility: hidden;
  pointer-events: none;
  inset: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 10;
}
.circle__gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  visibility: hidden;
  pointer-events: none;
  inset: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.container__wrapper {
  padding: 0 40px;
}
.extra__space {
  padding: 100px 40px;
}
.philosophy__body {
  font-family: var(--main-font);
  font-size: 5rem;
  line-height: 4.2rem;
  width: 75%;
  margin: 10px 0 40px;
}
.philosophy__body div {
  font-size: 5rem;
}
.fundamental__phi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
.divider__ {
  width: 100%;
  height: 1px;
  background: var(--black);
  margin: 50px 0;
}
.blog__section__wrapper {
  margin: 30px 0 0;
}

/* Mobile and below */
@media (width <= 418px) {
  .heading__desc {
    height: 140px;
  }
}
@media (width <= 768px) {
  .slides__wrapper {
    padding: 15px 0;
  }
  .base__line {
    display: none;
  }
  .container__wrapper {
    padding: 0 5px;
  }
  .philosophy__body {
    font-size: 3rem;
    line-height: 3rem;
  }
  .philosophy__body div {
    font-size: 3rem;
  }
  .fundamental__phi {
    display: flex;
    flex-direction: column;
  }
}
/* Tablet and below */
@media (width <= 1100px) {
  .main__container {
    width: 99vw;
    margin: 0 auto;
  }
  .carousel-box {
    display: block;
  }
  .heading__wrapper {
    width: 100%;
  }
  .project__exec {
    width: 100%;
    margin: 0 0 3rem;
  }
  .slides__wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    right: 0;
    overflow: hidden;
  }
  .duration__wrapper {
    width: 100%;
  }
  .timeline__wrapper {
    display: none;
  }
  .partners__xp_info {
    width: 85%;
  }
  .philosophy__body {
    width: 100%;
  }
}

/* Monitor and above */
@media (width >= 1920px) {
  .main__container {
    width: 60%;
    margin: 0 auto;
  }
  .work-xp-section {
    width: 50vw;
  }
}
