/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.main__container {
  margin: 0 auto;
  width: 90vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.heading__wrapper {
  padding: 10rem 0;
  width: 50%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.heading-desc {
  font-size: 2rem;
}
.completed__features__section {
  padding: 0 0 3rem;
}
.features__section {
  width: 95%;
  margin: 0 auto;
}
.project__exec {
  width: 55%;
  margin: 0 0 3rem;
}
.project__exec h3 {
  font-size: 2.5rem;
}
.project__exec p {
  font-family: var(--sec-font);
}
.solution__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: var(--grey);
  border-radius: 20px;
}
.solution__box {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.solution__container h3 {
  font-weight: 300;
  font-size: 1.3rem;
}
.height-50 {
  height: calc(var(--height) * 0.5);
}
.arrow-rs {
  margin-left: 2.25rem;
}
.partners__workxp {
  height: 250vh;
  transition: all 0.2s ease-in-out;
}

/* Mobile and below */

/* Tablet and below */
@media (width <= 1100px) {
  .main-container {
    width: 99vw;
    margin: 0 auto;
  }
  .carousel-box {
    display: block;
  }
  .heading__wrapper {
    width: 100%;
  }
  .project__exec {
    width: 100%;
    margin: 0 0 3rem;
  }
}

/* Monitor and above */
@media (width >= 1920px) {
  .main-container {
    width: 60%;
    margin: 0 auto;
  }
  .work-xp-section {
    width: 50vw;
  }
}
