@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #092120;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

:root {
  --main-bg-color: #092120;
  --theme-color: #8dfdba;
  --theme-color-2: #d8ff86;
  --theme-color-3: #eef3e3;
  --theme-color-4: #f8924a;
  --black: #000000;
  --white: #fff;
  --grey: #f5f5f5;
  --grey-2: #e7e7e7;
  --grey-3: #f3f3f3;
  --border-color: #cfcfcf;
  --main-font: "Instrument Serif", -apple-system, "Times neue Romans",
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", serif;
  --sec-font: "Inter", sans-serif;
  --font-size: 14px;
  --height: 500px;
  --ter-font: "Google Sans Code";
  --transition-style: cubic-bezier(0.11, 0.45, 0.9, 0.92);
}
html {
  font-size: var(--font-size);
}
body {
  margin: 0px;
  font-family: var(--main-font);
  box-sizing: border-box;
  font-weight: 400;
  font-size: var(--font-size);
  min-height: 100%;
  position: relative;
  line-height: normal;
}
a {
  color: var(--white);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
section,
button {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-family: var(--main-font);
}
.button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 50cqh;
  cursor: pointer;
  border: none;
  font-family: var(--sec-font);
}
.btn {
  background-color: var(--main-bg-color);
  color: var(--white);
}
.navbar__ {
  color: var(--black);
  font-size: 1rem;
}
.navbar {
  box-shadow: none;
}
