@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #070f20;
  --ifm-color-primary-dark: #050d1f;
  --ifm-color-primary-darker: #050e22;
  --ifm-color-primary-darkest: #030e24;
  --ifm-color-primary-light: #101e3f;
  --ifm-color-primary-lighter: #0c2153;
  --ifm-color-primary-lightest: #09235f;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --main-bg-color: #070f20;
  --theme-color: #8dfdba;
  --theme-color-2: #d8ff86;
  --theme-color-3: #eef3e3;
  --theme-color-4: #f8924a;
  --theme-color-5: #53d3d5;
  --theme-color-5-rgb: 83, 211, 213;
  --black: #000000;
  --white: #fff;
  --grey: #f5f5f5;
  --grey-2: #e7e7e7;
  --grey-3: #f3f3f3;
  --border-color: #cfcfcf;
  --font-size: 14px;
  --height: 450px;
  --main-font: "Source Serif 4", -apple-system, "Times neue Romans",
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", serif;
  --sec-font: "Inter", sans-serif;
  --ter-font: "Source Serif 4", serif;
  --code-font: "Google Sans Code";
  --transition-style: cubic-bezier(0.11, 0.45, 0.9, 0.92);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
html {
  font-size: var(--font-size);
  overflow-x: hidden;
}
body {
  margin: 0px;
  font-family: var(--main-font);
  box-sizing: border-box;
  font-weight: 400;
  font-size: var(--font-size);
  min-height: 100%;
  position: relative;
  line-height: 1.4rem;
  height: auto;
}
a {
  color: var(--white);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
section,
button {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-family: var(--main-font);
}
p {
  font-family: var(--sec-font);
}
.navbar__ {
  font-size: 1rem;
}
.navbar {
  box-shadow: none;
}
.navbar a {
  color: inherit !important;
}
.token {
  font-family: var(--code-font);
}
.footer__copyright a {
  color: var(--black);
}
